@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Import Tailwind's base styles */
@tailwind base;

/* Import Tailwind's utility styles */
@tailwind components;
@tailwind utilities;

body {
  background-color: #2c2523;
  overflow-x: hidden;
  overflow-y: auto;
}
.active {
  color: cyan;
  font-weight: bold;
  font-size: x-large;
}

/* You can add your custom styles below */
